<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="mukesh container" id="search-form-div">

  <div class="dangi jumbotron col-sm-8 mukesh offset-sm-1">
    <div class="searchwithname">

      <form (ngSubmit)="onSubmit()" #searchForm=ngForm>
        <div class="entertainment" id="form-header ">
          <h3 style="text-align: center;">New York Post Search Engine</h3>
        </div>

        <div class=" col-sm-10 row entertainment">
          <legend class="entertainment col-form-label entertainment">Keyword<span class="required" style="color:red;">*</span>
            <input style="float: right" class="col-sm-10" name="locationDescription" [ngClass]="{'form-control': true, 'is-invalid': keyword.invalid && (keyword.dirty || keyword.touched)}"
              type="text" required noWhitespace id="locationDescription" placeholder="Enter a Keyword" [(ngModel)]="form.keyword"
              #keyword="ngModel">
            <div style="float: right" class="entertainment invalid-feedback">Please enter a keyword </div>
          </legend>
        </div>


        <div style="margin-top: 1rem;" class=" col-sm-10 row entertainment">
          <legend class="entertainment col-form-label entertainment">Select Ranking Type<span class="required" style="color:red;">*</span>

            <div class="col-sm-6 entertainment" style="float: right; ">

              <div style="float: left;   " class="form-check entertainment">
                <input class="form-check-input entertainment" [(ngModel)]="form.isUserInput" name="is_user_input" type="radio"
                  checked [value]="false">
                <label class="entertainment form-check-label" for="other">Lucene</label>
              </div>

              <div class="form-check entertainment" style="float: left;  padding-left: 30%;">
                <input class="entertainment form-check-input" name="is_user_input" [(ngModel)]="form.isUserInput" type="radio"
                  [value]="true">
                <label class="form-check-label entertainment " for="here">PageRank</label>
              </div>
            </div>
          </legend>
        </div>
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"><p style="font-size: 20px; color: white">Mapping Doc ID to URL...</p></ngx-spinner>
        <div style="margin-top: 2rem;" class="form-group entertainment row" id="search-btn-group">
          <div class="col-sm-8 entertainment">
            <button type="submit" class="btn btn-primary" id="search-btn" [disabled]="form.invalid || keyword.invalid">
              <i class="material-icons">search</i>Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="alert alert-warning" role="alert" *ngIf="!searchResponse && this.searchFinished">No records.</div>
<div id="info-div" *ngIf="searchResponse && searchResponse.docs.length>0" class="table-responsive container">
  <div style="margin-left: 1%;">Results 1 - {{show}} of {{searchResponse.numFound}}</div>
  <div style="margin-left: 1%;">Query - <b>{{stats.params.q}}</b> {{stats.QTime}} ms</div>
  <div [@CustomeFadeInAnimation] style="padding-left: 1%;" class="card-block  bg-faded  bg-light cardStyl  carousel slide  carousel-fade"
    *ngFor="let docInfo of searchResponse.docs | slice:0:show let i=index ">
    <table class="table">
      <tbody>
        <tr *ngIf="docInfo.title">
          <td style="padding: 0;">
            Title : <a href="{{docInfo.generator[0]}}" target="_blank"> {{docInfo.title[0]}}</a>
          </td>
        </tr>

        <tr *ngIf="docInfo.generator">
          <td style="padding: 0;">
            URL : <a href="{{docInfo.generator[0]}}" target="_blank"> {{docInfo.generator[0]}}</a>
          </td>
        </tr>
        <tr *ngIf="!docInfo.generator">
          <td style="padding: 0;">
            URL : N/A
          </td>
        </tr>
        <tr *ngIf="docInfo.id">
          <td style="padding: 0;"> ID : {{docInfo.id}}
          </td>
        </tr>

        <tr *ngIf="docInfo.og_description">
          <td style="padding: 0;">
            Description : {{docInfo.og_description[0]}}
          </td>
        </tr>

        <tr *ngIf="!docInfo.og_description">
          <td style="padding: 0;">
            Description : N/A
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button style="display: flex;margin: 0 auto;margin-bottom: 10%;" class="btn btn-primary" *ngIf="show<searchResponse.docs.length"
    (click)="show = show+10"> Show More</button>
  <button style="display: flex;margin: 0 auto;margin-bottom: 10%;" class="btn btn-primary" *ngIf="show>=20" (click)="show = 10">
    Show Less</button>
</div>